@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(240, 78%, 98%);
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 26.5%, 26.5%;
    background-position: top 0 right -1rem, bottom -4.7rem left -1.9rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.title {
    color: hsl(233, 13%, 49%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.offers {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.toggle {
    border: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 3.8rem;
    height: 2.1rem;
    border-radius: 25px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: background .3s ease;
}

.toggle_btn {
    cursor: pointer;
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: hsl(240, 78%, 98%);
}

.left {
    justify-content: flex-start;
}

.cards {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2.1rem 0.8rem;
}

.card:not(#blue) {
    background-color: white;
}

.card {
    margin-block: 1rem;
    border-radius: 10px;
    padding: 2.1rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
}

#blue {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
    margin-top: -.2rem;
    margin-bottom: -.2rem;
    padding: 3rem 1rem;
}

.card p {
    font-size: 19px;
}

.card h1 {
    font-size: 69px;
    margin-top: 1rem;
}

.card p:not(#blue p) {
    color: hsl(234, 14%, 74%);
}

.card h1:not(#blue h1) {
    color: hsl(232, 13%, 33%)
}

.tariff {
    margin-block: 2rem;
}


.card h6 {
    font-size: 15px;
    padding: 1.06rem;
    border-top: .1px solid hsl(234, 14%, 74%);
    border-bottom: .1px solid hsl(234, 14%, 74%);
}

.card h6:not(#blue h6) {
    color: hsl(234, 14%, 74%);
}

.card button {
    width: 100%;
    font-family: inherit;
    cursor: pointer;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: 1px solid transparent;
    outline: none;
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .3s ease;
}

.blueBtn {
    border: 1px solid #fff !important;
    background: #fff !important;
    color: hsl(237, 63%, 64%) !important;
    transition: .3s ease !important;
}

.btn:hover {
    border: 1px solid hsl(237, 63%, 64%);
    background: transparent;
    color: hsl(237, 63%, 64%);
}

.blueBtn:hover {
    border: 1px solid #fff !important;
    background: transparent !important;
    color: #fff !important;
}

footer {
    text-align: center;
    font-size: 12px;
}

@media(max-width:964px) {
    body {
        padding-top: 5rem;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 500px;
    }

    #blue {
        margin-block: 0;
        padding: 2.1rem 0.8rem;
    }
}

@media(max-width:528px) {
    .card {
        width: 350px;
    }
}

@media(max-width:366px) {
    .card {
        width: 260px;
    }

    .card h1 {
        font-size: 45px;
    }
}